/* nav{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 800
} */
 /* shared style */
*{
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* btn-primary */
.btn-primary{

}

/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding:50px 240px ;
}
/* nav style */
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav  li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a{
    text-decoration: none;
    color: #424242;
}

/* bennar style */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;

}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color:#131313 ;
}
.banner-description{
    color: #727272;


}